@font-face {
  font-family: 'iconfont';  /* Project id 2834189 */
  src: url('//at.alicdn.com/t/font_2834189_n0htqwl9ts.woff2?t=1632573002885') format('woff2'),
       url('//at.alicdn.com/t/font_2834189_n0htqwl9ts.woff?t=1632573002885') format('woff'),
       url('//at.alicdn.com/t/font_2834189_n0htqwl9ts.ttf?t=1632573002885') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhihuan:before {
  content: "\ec8d";
}
.icon-rentou:before {
  content: "\eb63";
}
.icon-tiaoshi:before {
  content: "\eb61";
}

