.home-container {
  .user-box {
    height: 110px;
    padding: 0 30px;
    box-sizing: border-box;
    line-height: 80px;
    background: #fff;
    border-bottom: 1px solid #efefef;
    position: relative;
    display: flex;
    align-items: center;
    .avatar {
      width: 60px;
      height: 60px;
      border-radius: 100%;
      margin-right: 10px;
    }
    .user-name {
      white-space: nowrap;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      overflow: hidden;
      vertical-align: middle;
      font-size: 44px;
      font-weight: 600;
    }
    .login-out-btn {
      width: 84px;
      padding: 0;
      font-size: 26px;
      color: #666;
      float: right;
      // margin-top: 20px;
      position: absolute;
      right: 40px;
    }
  }
  .tab {
    margin-top: 20px;
  }
}

.no-login-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .txt {
    font-size: 34px;
    color: #666;
  }
  .login-btn {
    background: #{$primaryColor};
    width: 536px;
    height: 88px;
    margin-top: 80px;
    border-radius: 88px;
    font-size: 36px;
    line-height: 88px;
    color: #fff;
  }
}
