.flight-top {
  background: #fff;
  position: relative;
  z-index: 10;
  margin: 0 20px;
  border-radius: 20px 20px 0 0;
  padding: 30px 40px 40px;
  box-shadow: 0 10px 20px -4px rgba(0, 0, 0, 0.1);
  border-left: 1px solid #efefef;
  border-right: 1px solid #efefef;
  margin-top: 186px;
}
.flight-tab {
  display: flex;
  border-bottom: 1px solid #eee;
  position: relative;
  margin-bottom: 26px;
  .scrollbar {
    width: 33.333%;
    height: 6px;
    transition: transform 0.3s ease-in-out;
    z-index: -1;
    position: absolute;
    left: 0;
    bottom: -1px;
    &::after {
      height: 6px;
      position: absolute;
      content: "";
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      border-radius: 6px;
      transition: all 0.3s ease-in-out;
      background: #{$primaryColor};
    }
  }
  .flt-tab-item {
    line-height: 60px;
    height: 80px;
    flex: 1;
    text-align: center;
    font-size: 32px;
    position: relative;
    &.current {
      color: #{$primaryColor};
      font-weight: 600;
    }
    &.current ~ .scrollbar {
      z-index: 2;
      &::after {
        width: 60px;
      }
    }
  }
  .flt-tab-item:nth-of-type(1).current ~ .scrollbar {
    transform: translate3d(0, 0, 0);
  }
  .flt-tab-item:nth-of-type(2).current ~ .scrollbar {
    transform: translate3d(100%, 0, 0);
  }
  .flt-tab-item:nth-of-type(3).current ~ .scrollbar {
    transform: translate3d(200%, 0, 0);
  }
}
